body {
  font-size: 32px;
  font-weight: 100;
  color:white;
  background-color:brown;
}

.container {
  position: relative;
  margin: 20px 200px;
}

.flex-row,
.container1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.text1{
  font-size: 1.5em;
  font-weight: bold;
}

.text2 {
  font-size: 1em;
  font-weight: 100;
}

.fa-plus-circle {
  color: black;
  cursor: pointer;
}

.fa-check {
  font-size: 14px;
  color: red;
  cursor: pointer;
}

.card {
  height: 355px;
  width: 229px;
  border: 2px solid orangered;
  background:grey;
  border-radius: 10px;
  text-align: center;
  margin: 10px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-2 {
  height: 355px;
  width: 229px;
  border: 2px solid orangered;
  background: grey;
  border-radius: 10px;
  text-align: center;
  margin: 10px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.completedd {
  font-size: 10px;
  height: 20px;
  width: auto;
  color: black;
  background-color: red;
}

.card-heading {
  font-size: 0.7em;
  font-weight: 400;
  color: red;
  margin-bottom: 0px;
  position: relative;
  cursor: pointer;
}

.card-heading::after {
  content: "";
  position: absolute;
  margin-top: 11px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: black;
  position: absolute;
  height: 1px;
  width: 100%;
  top: 30px;
  left: 2%;
  margin-left: -5px;
}

.card-item {
  font-size: 0.6em;
  font-weight: 400;
  margin-bottom: 7px;
  color:rgb(37, 34, 31);
}

.card-item-2 {
  font-size: 0.6em;
  font-weight: 400;
  margin-bottom: 7px;
  color: rgb(37, 34, 31);
}

.back {
  cursor: pointer;
}

.card-item-checked {
  color:blue;
  text-decoration: line-through;
}

ul {
  padding-left: 0;
}

.flex-row-center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.list-card {
  height: 355px;
  width: 400px;
  width: 250px;
  border: 1px solid #e74c3c;
  background:white ;
  border-radius: 10px;
  text-align: center;
}

.container#blur.active {
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
}

.container#blur-2.active {
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
}

.popup {
  position: fixed;
  top: 40%;
  left: 35%;
  width: 445px;
  height: 226px;
  background: white ;
  border: 1px solid red;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  transition: 0.7s;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup-text {
  font-size: 23px;
  font-weight: 400;
  color: red;
  margin: 10px;
}

input {
  width: 320px;
  height: 43px;
  background: white ;
  border: 1px solid red;
  border-radius: 5px;
  opacity: 1;
  text-align: center;
  
}

button {
  width: 101px;
  height: 43px;
  background: orangered;
  border-radius: 20px;
  opacity: 1;
  border: none;
  font-size: 0.8em;
  color: white;
  margin: 10px;
  cursor: pointer;
}

.btn {
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-self: flex-end;
}

.footer-2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-self: flex-end;
}

.btn-completed {
  font-size: 15px;
  width: 32px;
  height: 32px;
  background-color: orangered;
  cursor: pointer;
}

.btn-add {
  text-align: right;
  padding-right: 10px;
  cursor: pointer;
}

#pop.active {
  top: 30%;
  opacity: 1;
  visibility: visible;
  transition: 0.5s;
}

#popAddItem.active {
  top: 30%;
  opacity: 1;
  visibility: visible;
  transition: 0.5s;
}

button:focus {
  outline: none;
}

@media only screen and (max-width: 700px) {
  body {
    font-size: 26px;
  }
  .container {
    position: relative;
    margin: 10px 20px;
  }
  #content {
    content: none;
  }
  .card {
    height: 80px;
    width: 70%;
    border: 1px solid black;
  }
  .card-item {
    display: none;
  }
  .card-heading {
    font-size: 30px;
    height: 20px;
    cursor: pointer;
    color: greenyellow;
    justify-content: flex-start;
    text-align: center;
  }
  .card-heading::after {
    width: 0;
  }
  .footer {
    display: none;
  }
  .addItem {
    display: none;
  }

  .popup {
    position: fixed;
    top: 40%;
    left: 10%;
    width: 300px;
    height: 200px;
  }
  .popup-text {
    font-size: 20px;
    font-weight: 400;
    color: red;
    margin: 10px;
  }

  button {
    width: 60px;
    height: 33px;
    font-size: 0.5em;
  }
  input {
    width: 220px;
    height: 35px;
  }
  #currentHeading {
    font-size: 28px;
  }
}